<div class="animate__animated animate__fadeIn animate__faster">

    <h2>
        Paises
    </h2>
    <hr>
    
    <div class="row">
        <div class="col">
            <app-country-input 
            (onEnter)="search($event)"
            (onDebounce)="suggestions($event)"
            placeholder= "Buscar Pais ..."></app-country-input>
        </div>
    </div>
    
    <hr>
</div>
<div *ngIf="Error" class="alert alert-danger">
    No se encontro el termino de busqueda: {{arg}}
</div>

<div class="row">
    <div class="col" *ngIf="country.length > 0 ">
        <app-country-table [country]="country"></app-country-table>
    </div>
</div>