<h2>
    Por Pais
</h2>
<hr>

<div class="row">
    <div class="col">
        <form (ngSubmit)="search()" action="" autocomplete="off">
            <input type="text" type="text" name="arg" class="form-control" [(ngModel)]="arg"
                placeholder="Buscar pais...">
        </form>
    </div>
</div>

<hr>
<div *ngIf="Error" class="alert alert-danger">
    No se encontro el termino de busqueda: {{arg}}
</div>

<div class="row">
    <div class="col" *ngIf="country.length > 0 ">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Bandera
                    </th>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Poblacion
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of country; let i = index">
                    <td>
                        {{i+1}} : {{data.alpha2Code}}
                    </td>
                    <td>
                        <img [src]="data.flag" alt="" class="small-flag">
                    </td>
                    <td>
                        {{data.name}}
                    </td>
                    <td>
                        {{data.population | number}}
                    </td>
                    <td>
                        <a [routerLink]="['/seeCountry' , data.alpha2Code]"
                            routerLinkActive="router-link-active">ver</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>