<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Bandera
            </th>
            <th>
                Nombre
            </th>
            <th>
                Poblacion
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of country; let i = index">
            <td>
                {{i+1}} : {{data.alpha2Code}}
            </td>
            <td>
                <img [src]="data.flag" alt="" class="small-flag">
            </td>
            <td>
                {{data.name}}
            </td>
            <td>
                {{data.population | number}}
            </td>
            <td>
                <a [routerLink]="['/seeCountry' , data.alpha2Code]" routerLinkActive="router-link-active">ver</a>
            </td>
        </tr>
    </tbody>
</table>